.categories {
    display: block;
    width: 250px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-size: 12px;
    margin-top: 20px;

    .header {
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        border: 1px solid #e6e9ec;
        border-width: 0 0 1px;
        padding: 18px 15px;
    }
    .categoriesList{
        padding: 15px;
        .categorie {
            display: block;
            padding-bottom: 10px;
            
            .box {
                float: left;
                cursor: pointer;
                height: 16px;
                width: 16px;
                border: 1px solid #dddddd;
            }
            
            .name {
                display: inline-block;
                padding-left: 10px;
                cursor: pointer;
            }
        }
    }
    
}
