@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.card {
  width: 100%;
  //padding: 20px 40px 20px 40px;
  //margin-bottom: 20px;
  //background: #fff;
  padding-bottom: 28px;
  border-radius: 4px;
  padding-top: 28px;
  border-bottom: 1px solid #e6e9ec;

  .dates {
    float: left;
    width: 150px;

    .dateFrom,
    .dateTo {
      position: relative;
    }

    .dateFrom::before,
    .dateTo::before,
    .dateFrom::after,
    .dateTo::after {
      display: table;
      line-height: 0;
      content: "";
    }

    .dateFrom::after,
    .dateTo::after {
      clear: both;
    }

    .dateFrom,
    .dateTo {
      span {
        display: block;
      }

      .dateDest {
        position: absolute;
        top: 24px;
        left: -18px;
        color: #8f979b;
        font-size: 20px;
        font-weight: 100;
      }

      .dateDay {
        float: left;
        width: 71px;
        color: #f24f4b;
        font-size: 48px;
        font-weight: 100;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 10px;
      }

      .dateMonth {
        padding-top: 13px;
        padding-bottom: 2px;
        font-size: 13px;
        font-weight: 100;
        text-transform: uppercase;
      }

      .dateYear {
        color: #8f979b;
        font-size: 11px;
        font-weight: 100;
      }
    }
  }

  .info {
    width: calc(100% - 172px);
    padding-left: 20px;
    
    border-left: 2px solid;
    display: inline-block;

    .header {
      color: #000;
      font-size: 13px;
      font-weight: 100;
      position: relative;

      .time,
      .location {
        margin: 0 0 10px;
      }

      .status {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .title {
      font-size: 17px;
      font-weight: 100;
    }
    .description{
      color: #727678;
      font-size: 14px;
      font-weight: 100;
      max-width: 850px;
    }
    .tags {
      margin-top: 14px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 4px 10px;
          border: 1.5px solid;
          border-radius: 20px;
          font-size: 13px;
          -moz-user-select: none;
          -ms-user-select: none;
          -webkit-user-select: none;
          user-select: none;
          display: inline;
        }
      }
    }
    .footer {
      padding: 19px 0px 15px;
      div {
        display: inline-block;
        font-size: 14px;
        color: #4689b9;
        margin-right: 15px;
        cursor: pointer;
      }
      .feedback {
        float: right;
        margin-right: 0;
      }
    }
  }
}
