@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.rcrCalendar {
  font-family: Arial, sans-serif;
  .container {
    max-width: 100%;
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    color: #333333;
    background-color: transparent;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    padding: 0px 40px 20px;
    margin: 0;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  .content {
    width: calc(100% - 290px);
    display: inline-block;
    //margin-right: 80px;
    .month {
      background: #fff;
      width: 100%;
      padding: 20px 40px;
      border-radius: 4px;
      box-shadow: 0 1em 4em rgba(0,0,0,.07);
      .month-header {
        margin: 0px;
        padding-top: 20px;
        font-weight: 700;
        font-size: 21px;
        text-transform: capitalize;
        color: #000000;
      }
    }
  }

  .dashboard {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-left: 40px;
  }

  .header {
    padding: 20px 40px;
    margin: 0;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    background: #f2f3f3;
  }

  .app {
    padding: 0px 40px 20px;
    background: #f2f3f3
  }


  
}